#  Data science tools and Ecosytem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- list popular languages for data science
- state the commonly used libraries by Data scientists
- list data science tools

Some of the popular languages Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists are:
1. Pandas
2. Matplotlib
3. Apache Spark
4. ggplot2



|Data science Tools|
|------------------|
|MYSQL|
|MongoDB|
|Apache cassandra|

###  Below are a few examples of evaluating Arithmetic expressions in python.

In [11]:
# This is a simple arithmetic expresiin to multiply then add integers:
(3*4)+5

17

In [10]:
# coverting minutes to hours
# This will convert 200 hours to minutes by dividing by 60
200/60

3.3333333333333335

In [ ]:
## Author